@font-face {
	font-family: IBM Plex Sans Bld;
	src: url(../fonts/IBM_Plex_Sans/IBMPlexSans-Bold.ttf);
}

@font-face {
	font-family: IBM Plex Sans Bld Itlc;
	src: url(../fonts/IBM_Plex_Sans/IBMPlexSans-BoldItalic.ttf);
}

@font-face {
	font-family: IBM Plex Sans Extralight;
	src: url(../fonts/IBM_Plex_Sans/IBMPlexSans-ExtraLight.ttf);
}

@font-face {
	font-family: IBM Plex Sans Extralight Itlc;
	src: url(../fonts/IBM_Plex_Sans/IBMPlexSans-ExtraLightItalic.ttf);
}

@font-face {
	font-family: IBM Plex Sans Itlc;
	src: url(../fonts/IBM_Plex_Sans/IBMPlexSans-Italic.ttf);
}

@font-face {
	font-family: IBM Plex Sans Light;
	src: url(../fonts/IBM_Plex_Sans/IBMPlexSans-Light.ttf);
}

@font-face {
	font-family: IBM Plex Sans Light Itlc;
	src: url(../fonts/IBM_Plex_Sans/IBMPlexSans-LightItalic.ttf);
}

@font-face {
	font-family: IBM Plex Sans Med;
	src: url(../fonts/IBM_Plex_Sans/IBMPlexSans-Medium.ttf);
}

@font-face {
	font-family: IBM Plex Sans Med Itlc;
	src: url(../fonts/IBM_Plex_Sans/IBMPlexSans-MediumItalic.ttf);
}

@font-face {
	font-family: IBM Plex Sans Regular;
	src: url(../fonts/IBM_Plex_Sans/IBMPlexSans-Regular.ttf);
}

@font-face {
	font-family: IBM Plex Sans Semi Bld;
	src: url(../fonts/IBM_Plex_Sans/IBMPlexSans-SemiBold.ttf);
}

@font-face {
	font-family: IBM Plex Sans Semi Bld Itlc;
	src: url(../fonts/IBM_Plex_Sans/IBMPlexSans-SemiBoldItalic.ttf);
}

@font-face {
	font-family: IBM Plex Sans Thn;
	src: url(../fonts/IBM_Plex_Sans/IBMPlexSans-Thin.ttf);
}

@font-face {
	font-family: IBM Plex Sans Thn Itlc;
	src: url(../fonts/IBM_Plex_Sans/IBMPlexSans-ThinItalic.ttf);
}