::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-button:start:decrement, ::-webkit-scrollbar-button:end:increment {
    display: none;
}

::-webkit-scrollbar-track-piece {
    background-color: #3b3b3b;
}

::-webkit-scrollbar-thumb:vertical {
    background-color: #DADADA;
    -webkit-border-radius: 6px;
}