/* A página toda recebe inicialmente essas configurações */

* {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

/* Definindo um container que englobará todo o meu layout */

.container {
    background-color: black;
    font-family: IBM Plex Sans Extralight;
    color: #ffffff;
    /* pensar em um tamanho máximo para o container */
}

/* Definindo as coisas gerais do layout das sections */

.background-black {
    background-color: black;
}

.background-grey {
    background-color: #0a0a0a;
    /* transform: skewY(-3deg); */
}